.home-container {
  background: #0000000c;
  border: 0;
  padding: 0;
}

.opening-banner {
  display: inline-block;
  width: 100%;
  min-height: 35vh;
  max-height: 50vh;
  background: url('./images/background.png') center / cover;
  /* float: right; */
}

.opening-banner__left {
  display: inline-block;
  max-width: 300px;
  max-height: 100%;
  margin: 0 0 0 0;
  padding: 2vw 0 2vw 2vw;
}

#opening-banner__title {
  color: white;
  text-align: left;
  /* font-size: 4vw; */
  margin: 2vw 0;
  max-height: 60px;
}

#opening-banner__subtitle {
  color: white;
  width: 90%;
  /* font-size: 2vw; */
  margin: 10px 0;
  padding: 0;
}

#opening-banner__link {
  text-decoration: none;
  display: inline-block;
  color: white;
  /* font-size: 2vw; */
  margin: 0;
}

#opening-banner__link:hover,
.body-navigation__item:hover {
  background: #a36a6a48;
}

#opening-banner__link p {
  display: inline-block;
  margin: 0;
}

#opening-banner__link svg {
  display: inline-block;
}

/* .opening-banner__right {
  display: inline-block;
  width: 50vw;
  height: 50vw;
  max-width: 600px;
  max-height: 600px;
  background: url('./cellmap.png') center / cover;
  float: right;
  z-index: 10;
} */

.body-navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
  background: white;
  width: 96vw;
  padding: 2vw;
  
}

.body-navigation__item,
.body-navigation__item:visited {
  display: inline-block;
  width: 300px;
  /* min-height: 350px; */
  /* height: 45vw; */
  /* max-height: 60vh; */
  padding: 10px;
  margin: 10px;
  vertical-align: top;
  text-decoration: none;
  color: black;
  /* border: 2px solid black; */
  /* border-radius: 5px; */
  /* box-shadow: 2px 2px 2px grey */
}

.body-navigation__item h1,
.body-navigation__item h1:visited {
  /* font-size: 3vw; */
  text-decoration: none;
  text-align: left;
  padding: 0;
}

.body-navigation__item h3 {
  /* font-size: 2vw; */
  text-decoration: none;
  text-align: left;
  padding: 0;
}

#body-navigation__bibliome-image {
  background-image: url('./images/icon-DataRepo.svg');
  background-repeat: no-repeat;
  background-size: 100px;
  height: 100px;
}

#body-navigation__cellmap-image {
  background-image: url('./images/icon-CellMap.svg');
  background-repeat: no-repeat;
  background-size: 100px;
  height: 100px;
}

#body-navigation__datarep-image {
  background-image: url('./images/icon-DataRepo.svg');
  background-repeat: no-repeat;
  background-size: 100px;
  height: 100px;
}

.closing-banner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background: #800000;
  min-height: 20vh;
  width: 100%;
}

.closing-banner__left {
  display: inline-block;
  color: white;
  max-width: 600px;
  padding: 30px;
  vertical-align: top;
}

.closing-banner__right {
  display: inline-block;
  color: white;
  max-width: 600px;
  padding: 30px;
  vertical-align: top;
}

.closing-banner__right-cite {
  border-left: white solid 2px;
  padding: 5%;
}
