.home-container {
  background: #0000000c;
  border: 0;
  padding: 0;
}

.opening-banner {
  display: inline-block;
  min-height: 35vh;
  max-height: 50vh;
  background: url('./images/background.png') center / cover;
  /* float: right; */
}

.opening-banner__left {
  display: inline-block;
  width: 40%;
  max-height: 100%;
  margin: 0 0 0 0;
  padding: 2vw 0 2vw 2vw;
}

#opening-banner__title {
  color: white;
  font-size: 4vw;
  margin: 2vw 0;
  max-height: 60px;
}

#opening-banner__subtitle {
  color: white;
  width: 90%;
  font-size: 2vw;
  margin: 2vw 0;
}

#opening-banner__link {
  text-decoration: none;
  display: inline-block;
  color: white;
  font-size: 2vw;
  margin: 0;
}

#opening-banner__link:hover,
.body-navigation__item:hover {
  background: #a36a6a48;
}

#opening-banner__link p {
  display: inline-block;
  margin: 0;
}

#opening-banner__link svg {
  display: inline-block;
}

/* .opening-banner__right {
  display: inline-block;
  width: 50vw;
  height: 50vw;
  max-width: 600px;
  max-height: 600px;
  background: url('./cellmap.png') center / cover;
  float: right;
  z-index: 10;
} */

.body-navigation {
  display: inline-block;
  background: white;
  width: 96vw;
  padding: 2vw;
}

.body-navigation__item, 
.body-navigation__item:visited {
  display: inline-block;
  width: 30vw;
  min-height: 30vh;
  height: 45vw;
  max-height: 60vh;
  padding: 1vw;
  vertical-align: top;
  text-decoration: none;
  color: black;
}

.body-navigation__item h1,
.body-navigation__item h1:visited {
  font-size: 3vw;
  text-decoration: none;
}

.body-navigation__item h3 {
  font-size: 2vw;
}

#body-navigation__bibliome-image {
  background-image: url('./images/icon-DataRepo.svg');
  background-repeat: no-repeat;
  background-size: 10vw;
  height: 10vw;
}

#body-navigation__cellmap-image {
  background-image: url('./images/icon-CellMap.svg');
  background-repeat: no-repeat;
  background-size: 10vw;
  height: 10vw;
}

#body-navigation__datarep-image {
  background-image: url('./images/icon-DataRepo.svg');
  background-repeat: no-repeat;
  background-size: 10vw;
  height: 10vw;
}

.closing-banner {
  display: inline-block;
  background: #800000;
  min-height: 20vh;
  width: 100%;
}

.closing-banner__left {
  display: inline-block;
  color: white;
  width: 44%;
  padding: 3%;
  vertical-align: top;
}

.closing-banner__right {
  display: inline-block;
  color: white;
  width: 44%;
  padding: 3%;
  vertical-align: top;
}

.closing-banner__right-cite {
  border-left: white solid 2px;
  padding: 5%;
}
