/* @import "../styles/utils.scss"; */


.main-header {
}

.main-header__logo-container {
  display: inline-block;
  width: 30vw;
  vertical-align: middle;
  margin: 0;
  padding: 0;
}

.main-header__logo {
  width: 30vw;
  max-height: 100px;
  padding: 0 0 0 30px;
}

.main-header__nav {
  display: inline-block;
  text-align: right;
  vertical-align: middle;
  width: 65vw;
  margin: 0 1.5vw;
  height: 100%;
}

.main-header__nav a {
  display: inline-block;
  color: black;
  padding: 0;
  margin: 0 1vw;
  text-decoration: none;
  font-size: 2.1vw;
  font-weight: bold;
}