/* @import "../styles/utils.scss"; */


.main-header {
  background: #a36a6a25;
}

.main-header__logo-container {
  display: inline-block;
  width: 30vw;
  vertical-align: middle;
  margin: 0;
  padding: 2vw;
}


.main-header__logo {
  width: 25vw;
  padding: 0 0 0 0;
}


.main-header__nav {
  display: inline-block;
  text-align: right;
  vertical-align: middle;
  width: 60vw;
  margin: 0 1.5vw;
  height: 100%;
}

.main-header__nav a {
  display: inline-block;
  color: black;
  padding: 4px;
  margin: 0 1vw;
  text-decoration: none;
  font-size: 2.1vw;
  font-weight: bold;
}

.main-header__nav a:hover {
  background: #800000;
  /* padding: 4px; */
  border-radius: 3px;
  color:white;
}